/** @format */

.reach {
  margin-top: 70px;
  padding: 50px 24px;
  display: flex;
  align-items: center;
  gap: 32px;
  justify-content: center;
}

.text {
  padding: 16px 60px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 24px;
  gap: 12px;
  color: white;
}

.text h2 {
  margin: 0;
  font-size: 30px;
  font-weight: 600;
  font-family: var(--font-sansita);
}

.text span {
  font-size: 20px;
  font-weight: 400;
  font-family: var(--font-lato);
}

.one {
  background-color: var(--color-purple);
  color: var(--color-yellow);
}

.one span,
.three span {
  color: hsla(0, 0%, 93%, 1);
  font-weight: 400;
}

.two {
  background-color: var(--color-yellow);
  color: var(--color-purple);
}

.three {
  background-color: var(--color-purple);
  color: var(--color-yellow);
}

.four {
  background-color: var(--color-yellow);
  color: var(--color-purple);
}
